linm2/20200717/pipeline/3_6_linm2_TwoJob_Then_OneJobs.json
{
	"name": "3_6_linm2_TwoJob_Then_OneJobs",
	"properties": {
		"activities": [
			{
				"name": "Job1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "inputdata1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outputdata1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set job1variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Job1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Job1RunningSuccess",
					"value": "true"
				}
			},
			{
				"name": "Job2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "inputdata2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "outputdata2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set job1variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Job2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Job2RunningSuccess",
					"value": "true"
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set job1variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set job1variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(variables('Job1RunningSuccess'), 'true'), equals(variables('Job2RunningSuccess'), 'true'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "EmailSuccessNotification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"Job1RunningSuccess": {
				"type": "String",
				"defaultValue": "false"
			},
			"Job2RunningSuccess": {
				"type": "String",
				"defaultValue": "false"
			}
		},
		"folder": {
			"name": "linm2"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}